<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              class="form-control"
              formControlName="username"
            />
          </div>
          <span
            class="help-block"
            *ngIf="
              !signupForm.get('userData.username').valid &&
              signupForm.get('userData.username').touched
            "
          >
            <span
              *ngIf="
                signupForm.get('userData.username').errors['nameIsForbidden']
              "
              >This name is invalid</span
            >
            <span
              *ngIf="signupForm.get('userData.username').errors['required']"
            >
              This field is required</span
            >
          </span>
          <div class="form-group">
            <label for="email">email</label>
            <input
              type="text"
              id="email"
              class="form-control"
              [formControlName]="'email'"
            />
            <span
              class="help-block"
              *ngIf="
                !signupForm.get('userData.email').valid &&
                signupForm.get('userData.email').touched
              "
              >PLease enter a valid email</span
            >
          </div>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input type="radio" [value]="gender" formControlName="gender" />{{
              gender
            }}
          </label>
        </div>
        <div formArrayName="hobbies">
          <h4>Your hobbies</h4>
          <button class="btn btn-primary" (click)="onAddHobby()">
            Add Hobby
          </button>
          <div class="form-group">
            <input
              class="form-control"
              [formControlName]="i"
              type="text"
              *ngFor="let hobbyControl of getControls(); let i = index"
            />
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
